<div class="container mt-3">
    <h1>Inicio#index</h1>
    <p>Find me in app/views/inicio/index.html.erb</p>
    <div>
        <%= link_to "Index", edificios_path, class: "btn btn-secondary mt-5" %>
    </div>
    <div>
        <%= link_to "Crear Edificio Nuevo", new_edificio_path, class: "btn btn-primary" %>
    </div>
</div>